

<style>
.footer {
    background: #23395d;
    color: #fff;
    padding: 70px 0 0;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo i {
    font-size: 30px;
    color: #ffb703;
}

.footer-logo h4 {
    margin: 0;
    font-weight: 700;
}

.footer p {
    color: #cfd6e0;
    font-size: 15px;
    line-height: 1.7;
}

.footer h5 {
    font-weight: 600;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 12px;
}

.footer ul li a {
    color: #cfd6e0;
    text-decoration: none;
}

.footer ul li a::before {
    content: "›";
    color: #ffb703;
    margin-right: 8px;
}

.footer ul li a:hover {
    color: #ffb703;
}


.social-icons a {
    width: 40px;
    height: 40px;
    border: 2px solid #ffb703;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffb703;
    margin-right: 10px;
    text-decoration: none;
}


.newsletter input {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 12px;
    width: 100%;
}

.newsletter button {
    background: #ffb703;
    border: none;
    padding: 0 20px;
    color: #23395d;
    border-radius: 0 5px 5px 0;
}


.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #cfd6e0;
}
</style>
</head>

<body>

<footer class="footer">
<div class="container">
<div class="row">

   
    <div class="col-md-3 mb-4">
        <div class="footer-logo mb-3">
            <i class="fa-solid fa-paw"></i>
            <div>
                <h4>ROGER</h4>
                <small>Your Loving Pet Care</small>
            </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, elit. Aenean ligula eget dolor.
            Lorem ipsum dolor sit amet, consectetur to adipiscing elit.
        </p>

        <div class="social-icons mt-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>

   
    <div class="col-md-3 mb-4">
        <h5>Services</h5>
        <ul>
            <li><a href="#">Dog Walking</a></li>
            <li><a href="#">Overnight Care</a></li>
            <li><a href="#">Pet Sitting</a></li>
            <li><a href="#">Vaccinations</a></li>
            <li><a href="#">Pet Dentistry</a></li>
        </ul>
    </div>

    
    <div class="col-md-3 mb-4">
        <h5>Quick Links</h5>
        <ul>
            <li><a href="#">Company History</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>

   
    <div class="col-md-3 mb-4">
        <h5>Newsletter</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod.
        </p>

        <div class="newsletter d-flex">
            <input type="email" placeholder="Email Address">
            <button><i class="fa-solid fa-paper-plane"></i></button>
        </div>
    </div>

</div>
</div>


<div class="footer-bottom">
    Copyrights © 2026. All rights reserved. Roger. Designed by Sakshi virkar
</div>

</footer>