<div class="sidebar">

    <h3 class="text-center mb-4">
        <i class="fa-solid fa-paw"></i> ROGER
    </h3>

    <a href="/admin/dashboard" class="menu-item">
    <i class="fa fa-gauge"></i> Dashboard
    </a>

    <a href="/admin/services">Services</a>

    <a href="/admin/team">Professional Doctors</a>

    <a href="/admin/pets">Pets</a>

    <a href="/admin/booking">Bookings</a>

    <a href="/admin/enquiry">Enquiry</a>

    <a href="/admin/blogs">Blogs</a>
    
    <a href="/admin/dog_info">Dog Info</a>

    

</div>
